* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 30px;
    margin-bottom: 80px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}

#topo ul {
    margin-top: 32px;
    background: #b10333;
    float:left;

}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height:2em;
    text-decoration: none;
    color: white;
    background: url(..imagens/divisor.png)
}
#topo ul a:hover {
    color:#69001d;
}

.home #navegacao a#home,
.economia #navegacao a#economia,
.saude #navegacao a#saude,
.fotos #navegacao a#fotos,
.novidades #navegacao a#novidades


{
    color:#fff;
    background: #de003e;
    cursor:text;
}

/* Área de conteudo */

#conteudo {
   
    background: #f5f5f5;
   

}

#primario {
    width: 210px;
    float: left;
    background: blueviolet;
    margin: 0 0 20px 195px;

}
#secundario {
    width: 210px;
    float: left;
    background: yellow;
    margin: 0  0 20px 15px;
}
#lateral {
    width: 180px;
    float: left;
    background: greenyellow;
    margin: 0 0 20px -700px;
}

#rodape {
    clear: both;
    padding: 20px;
    background: #294c71;
    margin: auto;
    color: white;


