* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 30px;
    margin-bottom: 80px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}

#topo ul {
    margin-top: 32px;
    background: #b10333;
    float:left;

}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height:2em;
    text-decoration: none;
    color: white;
    background: url(..imagens/divisor.png)
}
#topo ul a:hover {
    color:#69001d;
}

.home #navegacao a#home,
.economia #navegacao a#economia,
.saude #navegacao a#saude,
.fotos #navegacao a#fotos,
.novidades #navegacao a#novidades


{
    color:#fff;
    background: #de003e;
    cursor:text;
}

/* Área de conteudo */

#conteudo {
   
    background: #f5f5f5;
   

}

/* estilo para cabeçalhos */

h3 {
    text-transform: uppercase;
    display: inline;
    padding: 3px;
    
}
.destaque h3 {
    background:#b10333 ;
    color:#fff;
    font-size: 0.8em;
}
#tres-colunas #primario {
    width: 240px;
    float: left;
    margin: 0 0 20px 195px;

}

#duas-colunas #primario {
    width: 550px;
    float: left;
    margin: 0 0 20px 0px;

}

#uma-coluna #primario {
    width: 700px;
    float: left;
    margin: 0 0 20px 195px;

}



#secundario {
    width: 240px;
    float: left;
    margin: 0  0 20px 15px;
}
#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -700px;
}

img {
    border: 2px solid #dfdfdf;
    margin-top: 8px;
}



.caixa {
    margin: 10px 0;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
}
.titulo-caixa {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    background: #fff;
    padding:5px;
    margin-top: 5px;
}

#lateral ul a {
    font-size: 1em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: url(../imagens/marcador.png) no-repeat left center;
    color:gray;
    cursor: pointer;
    padding-left: 20px;
}

input {
    padding:5px;
    width: 150px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width:80px;
    color: #fff;
    margin-top: 5px;
    background-color:#b10333;
    border:2px solid #870529;
}

label {
    display: block;
    cursor: pointer;
}

#lista-noticias li {
    padding:2px ;
    border-bottom: 1px solid #ccc;
    height: 90px;
}
#lista-noticias li a img {
   float: left;
   margin: 5px;

}

#lista-noticias li a  {
    text-decoration: none;
    font-size: 0.8em;
 
 }
 #lista-noticias li h3  {
    color: blue;
    background: white;
    font-size: 1em;
 
 }

 #lista-noticias li:hover{
     background-color:#eee;
     cursor: pointer;
 }
 

#rodape {
    clear: both;
    padding: 20px;
    background: #294c71;
    margin: auto;
    color: white;
    text-align: center;

}
