* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 30px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}

#topo ul {
    margin-top: 32px;
    background: #b10333;
    float:left;

}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height:2em;
    text-decoration: none;
    color: white;
    background: url(..imagens/divisor.png)
}
#topo ul a:hover {
    color:#69001d;
}

.home #navegacao a#home {
    color:#fff;
    background: #de003e;
    cursor:text;
}